.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: 0;
  left: 0;
}

.friends {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 0;
  border: 0px solid;
}

.friends {
  padding: 10px;
  animation-name: lineAround;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: none;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes lineAround {
  0% {
    background-color: #ff68b4;
  }
  25% {
    background-color: #00ffff;
  }
  50% {
    background-color: #90d18f;
  }
  75% {
    background-color: #00ffff;
  }
  100% {
    background-color: #ff68b4;
  }
}

.animation {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 45pt;
  text-align: center;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  border: 0px solid;
}

.animation {
  animation-name: quote;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: none;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

@keyframes quote {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(0.75);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.welcome {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
