@media screen and (max-width: 600px;) {
  .work3 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .work4 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .work5 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
